.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  background-color: aliceblue;
  inset: -40px; /* 關鍵：避免移動時露白邊 */
  background-image: url("../../public/images/bgc.png");
  background-size: 10%;
  background-position: center;
  will-change: transform;
  transition: transform 0.05s linear;
}
