.about {
  position: relative;
}
.about .wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.about .wrapper .background {
  position: absolute;
  background-color: aliceblue;
  inset: -40px; /* 關鍵：避免移動時露白邊 */
  background-image: url("/images/bgc.png");
  background-size: 10%;
  background-position: center;
  will-change: transform;
  transition: transform 0.05s linear;
}
.about .abtitle {
  position: relative;
  width: 100%;
  height: 100vh;
}
.about .abtitle .abbg {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
}
.about .abtitle .abbg::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.526);
}
.about .abtitle .abbg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.about .abtitle .abtitlec {
  font-size: 70px;
  position: relative;
  top: 80px;
  left: 10%;
  width: 320px;
  color: #2f6bff;
  pointer-events: none;
}
.about .abtitle .abtitlec .fill {
  position: absolute;
  inset: 0;
  color: rgba(230, 230, 230, 1);
  clip-path: ellipse(0% 120% at 0% 50%);
  transition: clip-path 1.2s ease;
}
.about .abtitle .abtitlec .fill.active {
  clip-path: ellipse(150% 120% at 100% 50%);
}
.about .abtitle .menu {
  width: 350px;
  height: 400px;
  /* background-color: #2f6bff; */
  margin-left: 10%;
  margin-top: 80px;
}
.menu .menutext {
  width: 100%;
  border-bottom: 1.5px solid white;
  font-size: 1.5rem;
}
.menu .mbtn {
  width: 100%;
  height: 2.5rem;
  border-bottom: 1.5px solid white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-top: 10px;
}
.menu .mbtn .outside {
  width: 100%;
  position: absolute;
  top: 0rem;
}
.menu .mbtn:hover .outside {
  top: -2.5rem;
  transition: 0.4s;
}
.menu .mbtn .outside .mtop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  line-height: 2.5rem;
}
.menu .mbtn .outside .mtop.hc {
  color: #62d3ff;
}
.menu .mbtn .outside .mtop .mch {
  font-size: 1.2rem;
  display: flex;
  /* background-color: red; */
  width: 110px;
  position: relative;
}
.menu .mbtn .outside .mtop .mch .mimg {
  position: absolute;
  top: 0px;
  right: -5px;
  width: 40px;
  height: 40px;
}
.menu .mbtn .outside .mtop .mch .mimg img {
  width: 100%;
  height: 100%;
}
.about .abtitle .asvideo {
  position: absolute;
  width: 400px;
  right: 150px;
  top: 300px;
}
.about .company {
  width: 100%;
  /* height: 100vh; */
}
.about .company .companytitle {
  font-size: 70px;
  position: relative;
  top: 80px;
  left: 10%;
  width: 320px;
  color: rgba(230, 230, 230, 1);
  pointer-events: none;
}
.about .company .companytitle .fill {
  position: absolute;
  inset: 0;
  color: #2f6bff;
  clip-path: ellipse(0% 120% at 0% 50%);
  transition: clip-path 1.2s ease;
}
.about .company .companytitle .fill.active {
  clip-path: ellipse(150% 120% at 100% 50%);
}
.about .company .ctch {
  font-size: 30px;
  height: 30px;
  position: relative;
  top: -45px;
  left: 10%;
  width: 320px;
  color: #2f6bff;
  pointer-events: none;
  /* border: 1px solid red; */
  overflow: hidden;
}
.about .company .ctch p {
  position: absolute;
  top: 30px;
  transition: 0.4s;
}
.about .company .ctch p.active {
  top: -5px;
}
.about .company .companyinfo {
  display: flex;
  margin: 80px 10% 50px 10%;
}
.about .company .companyinfo .cileft {
  position: relative;
  z-index: 1;
}
.about .company .companyinfo .cileft .citafter {
  color: black;
  position: absolute;
  font-size: 50px;
  right: -75px;
  top: 200px;
  z-index: -1;
}
.about .company .companyinfo .cileft .leftimg {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.about .company .companyinfo .cileft .cibefor {
  color: transparent;
  -webkit-text-stroke: 1px #000000;
  position: absolute;
  font-size: 50px;
  right: -75px;
  top: 200px;
  z-index: 2;
}
.about .company .companyinfo .cileft .leftimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .company .companyinfo .ciright {
  color: black;
  margin-left: 120px;
}
.about .company .companyinfo .ciright .subtitle {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.about .company .companyinfo .ciright .subinner {
  font-size: 1.1rem;
}
.about .partner {
  width: 100%;
}
.about .partner .partnertitle {
  font-size: 70px;
  position: relative;
  top: 80px;
  left: 10%;
  width: 320px;
  color: rgba(230, 230, 230, 1);
  pointer-events: none;
}
.about .partner .partnertitle .fill {
  position: absolute;
  inset: 0;
  color: #2f6bff;
  clip-path: ellipse(0% 120% at 0% 50%);
  transition: clip-path 1.2s ease;
}
.about .partner .partnertitle .fill.active {
  clip-path: ellipse(150% 120% at 100% 50%);
}
.about .partner .pnch {
  font-size: 30px;
  height: 30px;
  position: relative;
  top: -45px;
  left: 10%;
  width: 320px;
  color: #2f6bff;
  pointer-events: none;
  /* border: 1px solid red; */
  overflow: hidden;
}
.about .partner .pnch p {
  position: absolute;
  top: 30px;
  transition: 0.4s;
}
.about .partner .pnch p.active {
  top: -5px;
}
.about .partner .teaminfo {
  display: flex;
  margin: 80px 10% 50px 10%;
}
.about .partner .teaminfo .teamleft {
  color: black;
}
.about .partner .teaminfo .teamleft .teamtitle {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.about .partner .teaminfo .teamleft .teaminfotext {
  font-size: 1.1rem;
}
.about .partner .teaminfo .teamright {
  position: relative;
  z-index: 1;
  margin-left: 120px;
}
.about .partner .teaminfo .teamright .textafter {
  color: black;
  position: absolute;
  font-size: 50px;
  left: -80px;
  top: 200px;
  z-index: -1;
}
.about .partner .teaminfo .teamright .teamimg {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  overflow: hidden;
}
.about .partner .teaminfo .teamright .teamimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about .partner .teaminfo .teamright .textbefroe {
  color: transparent;
  -webkit-text-stroke: 1px #000000;
  position: absolute;
  font-size: 50px;
  left: -80px;
  top: 200px;
  z-index: 2;
}
.about .pris {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
}
.about .pris .pristitle {
  font-size: 50px;
  color: black;
}
.about .pris .pristitlech {
  font-size: 30px;
  color: black;
}
.about .pris .prisimgs {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.about .pris .prisimgs .pimg {
  width: 300px;
  margin: 20px;
}
.about .pris .prisimgs .pimg img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.about .milestone {
  width: 100%;
}
.about .milestone .milestonetitle {
  font-size: 70px;
  position: relative;
  top: 80px;
  left: 10%;
  width: 320px;
  color: rgba(230, 230, 230, 1);
  pointer-events: none;
}
.about .milestone .milestonetitle .fill {
  position: absolute;
  inset: 0;
  color: #2f6bff;
  clip-path: ellipse(0% 120% at 0% 50%);
  transition: clip-path 1.2s ease;
}

.about .milestone .milestonetitle .fill.active {
  clip-path: ellipse(150% 120% at 100% 50%);
}
.about .milestone .mich {
  font-size: 30px;
  height: 30px;
  position: relative;
  top: -45px;
  left: 10%;
  width: 320px;
  color: #2f6bff;
  pointer-events: none;
  /* border: 1px solid red; */
  overflow: hidden;
}
.about .milestone .mich p {
  position: absolute;
  top: 30px;
  transition: 0.4s;
}
.about .milestone .mich p.active {
  top: -5px;
}
.about .milestone .mitime {
  margin-top: 80px;
  color: black;
  margin-left: 10%;
  margin-bottom: 150px;
}
.about .milestone .mitime .milestoneset {
  cursor: pointer;
  margin-right: 100px;
}
.about .milestone .mitime .milestoneset .year {
  text-align: right;
  font-size: 40px;
  border-bottom: 1.5px solid black;
  position: relative;
  padding-right: 30px;
}
.about .milestone .mitime .milestoneset .year:hover {
  background-color: #000000;
  color: white;
  transition: 0.4s;
}
.about .milestone .mitime .milestoneset .year span {
  position: absolute;
  left: 30px;
  top: 0px;
}
.about .milestone .mitime .milestoneset .evens {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease;
}
.about .milestone .mitime .milestoneset .evens.open {
  max-height: 1000px; /* 大一點即可 */
}
.about .milestone .mitime .milestoneset .evens .even .month {
  font-size: 1.5rem;
  margin-top: 10px;
}
.about .milestone .mitime .milestoneset .evens .even .eveninfo {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.textanime {
  width: 100%;
  height: 150px;
  /* background-color: aqua; */
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid white;
  cursor: pointer;
  position: relative;
  background-color: rgba(68, 68, 68, 0.384);
}
.textanime .textc {
  font-size: 8rem;
  transform: translateX(0);
}
.textanime .txanime {
  animation: marquee 10s linear infinite;
}
.textanime .mousecircle {
  width: 100px;
  height: 100px;
  background-color: rgba(28, 28, 28, 0.595);
  position: absolute;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  border: 1px solid white;
  pointer-events: none;
  top: 0px;
}
.textanime:hover .mousecircle {
  transition: transform 0.2s ease;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 1140px) {
  .about .company .companyinfo {
    flex-direction: column;
    align-items: center;
  }
  .about .company .companyinfo .ciright {
    margin: 80px 50px 0px 50px;
  }
  .about .partner .teaminfo {
    flex-direction: column-reverse;
    align-items: center;
  }
  .about .partner .teaminfo .teamleft {
    margin: 80px 50px 0px 50px;
  }
}
@media (max-width: 1040px) {
  .about .abtitle .asvideo {
    right: 75px;
  }
}
@media (max-width: 940px) {
  .about .abtitle .asvideo {
    display: none;
  }
}
@media (max-width: 650px) {
  .about .pris .prisimgs {
    flex-direction: column;
  }
  .about .milestone .mitime .milestoneset {
    margin-right: 10%;
  }
}
@media (max-width: 600px) {
  .about .pris .pristitle {
    font-size: 35px;
  }
  .about .pris .pristitlech {
    font-size: 24px;
  }
  .about .company .companyinfo {
    margin: 80px 10% 50px 5%;
  }
  .about .company .companyinfo .ciright {
    margin: 80px 20px 0px 20px;
  }
  .about .company .companyinfo .cileft .citafter {
    top: 150px;
    right: -25px;
  }
  .about .company .companyinfo .cileft .leftimg {
    width: 300px;
    height: 225px;
  }
  .about .company .companyinfo .cileft .cibefor {
    top: 150px;
    right: -25px;
  }
  .about .company .companyinfo .ciright .subtitle {
    font-size: 1.4rem;
  }
  .about .partner .teaminfo {
    margin: 80px 10% 50px 5%;
  }
  .about .partner .teaminfo .teamright {
    margin: 80px 20px 0px 20px;
  }
  .about .partner .teaminfo .teamright .textafter {
    top: 150px;
    left: -20px;
  }
  .about .partner .teaminfo .teamright .teamimg {
    width: 300px;
    height: 225px;
  }
  .about .partner .teaminfo .teamright .textbefroe {
    top: 150px;
    left: -20px;
  }
  .about .partner .teaminfo .teamleft {
    margin: 80px 20px 0px 20px;
  }
}
@media (max-width: 400px) {
  .about .abtitle .menu {
    margin-left: 5%;
  }
  .about .company .companyinfo .ciright {
    margin: 80px 10px 0px 10px;
  }
  .about .partner .teaminfo .teamleft {
    margin: 80px 10px 0px 10px;
  }
  .about .milestone .mitime {
    margin-left: 0px;
  }
  .about .milestone .mitime .milestoneset {
    margin-right: 0px;
  }
}
.ontopbtn {
  width: 50px;
  height: 50px;
  background-color: #2f6bff;
  position: fixed;
  bottom: 50px;
  right: 50px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.4s;
}
.ontopbtn:hover {
  transform: translateY(-10px);
}
.ontopbtn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
