.gbcliner {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  background: linear-gradient(
    270deg,
    rgba(78, 155, 240, 1) 0%,
    rgba(86, 205, 234, 1) 45%,
    rgba(84, 191, 236, 1) 72%,
    rgba(77, 148, 241, 1) 100%
  );
}
.wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.background {
  position: absolute;
  background-color: rgba(92, 92, 92, 0);
  inset: -40px; /* 關鍵：避免移動時露白邊 */
  background-image: url("/images/bgc.png");
  background-size: 10%;
  background-position: center;
  will-change: transform;
  transition: transform 0.05s linear;
}
.wrapperm {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.backgroundm {
  position: absolute;
  background-color: rgba(92, 92, 92, 0);
  inset: -40px; /* 關鍵：避免移動時露白邊 */
  background-image: url("/images/mask.png");
  background-size: 10%;
  background-position: center;
  will-change: transform;
  transition: transform 0.05s linear;
}
