.footer {
  width: 100%;
  background-color: black;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .ftitle {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.footer .ftitle .oflogo {
  width: 40px;
  height: 40px;
}
.footer .ftitle .oflogo img {
  width: 100%;
  height: 100%;
}
.footer .ftitle .ofname {
  font-size: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.footer .ftitle .ofnameEn {
  line-height: 1rem;
}
.footer .tel {
  margin-top: 15px;
}
.footer .locate {
  margin-top: 10px;
}
.footer .copyright {
  width: 90%;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 700px) {
  .footer .tel {
    margin-top: 10px;
  }
  .footer .locate {
    margin-top: 5px;
  }
  .footer .copyright {
    margin-top: 5px;
  }
}
