.mask {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgb(133, 133, 133);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
.mask.remove {
  opacity: 0;
  transition: 0.4s;
  visibility: hidden;
}
